In [153]:
import pandas as pd

In [172]:
df = pd.read_csv('./analysis_data/유기동물_df.csv', encoding = 'euc_kr')

In [173]:
df.shape

(278352, 14)

In [174]:
df.head(3)

,date,age,gender,neutering,notice,state,weight,adress,new_kind,sort,시도,year,month,day
0,2019-07-01,2019(년생),Q,U,순함,종료(안락사),6.00(Kg),전라북도 무주군 무주군 적상면 삼방로 476,개,푸들,전라북도,2019,7,1
1,2019-07-01,2016(년생),M,U,3년생 포메라니안,종료(자연사),5(Kg),전라남도 나주시 삼도동 1229-5,개,믹스견,전라남도,2019,7,1
2,2019-07-01,2017(년생),M,N,머리부분 연회색 털,종료(안락사),15.88(Kg),인천광역시 강화군 양도초등학교 부근,개,믹스견,인천광역시,2019,7,1

In [175]:
people = pd.read_csv('./analysis_data/가구수.csv', encoding = 'euc-kr')

In [176]:
people = people[1:].sort_values('행정구역별(읍면동)')
people = people.rename(columns={'행정구역별(읍면동)':'시도'})

In [177]:
people.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 9 to 10
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      16 non-null     object
 1   2019    16 non-null     int64
 2   2020    16 non-null     int64
 3   2021    16 non-null     int64
dtypes: int64(3), object(1)
memory usage: 640.0+ bytes

In [178]:
df_2019 = pd.DataFrame(df[df['year'] == 2019].groupby('시도', as_index = False).size())

In [179]:
df_2020 = pd.DataFrame(df[df['year'] == 2020].groupby('시도', as_index = False).size())

In [180]:
df_2021 = pd.DataFrame(df[df['year'] == 2021].groupby('시도', as_index = False).size())

In [181]:
merge1 = pd.merge(left = df_2019, right = df_2020, how = 'left', on = ['시도'])
merge2 = pd.merge(left = merge1, right = df_2021, how = 'left', on = ['시도'])

In [182]:
merge2 = merge2.sort_values('시도')

In [183]:
merge2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      17 non-null     object
 1   size_x  17 non-null     int64
 2   size_y  17 non-null     int64
 3   size    17 non-null     int64
dtypes: int64(3), object(1)
memory usage: 680.0+ bytes

In [184]:
merge2['size_x'] = round((merge2['size_x'] / people['2019']) * 100,2)
merge2['size_y'] = round((merge2['size_y'] / people['2020']) * 100,2)
merge2['size'] = round((merge2['size'] / people['2021']) * 100,2)

In [185]:
merge2.columns = ['시도','2019','2020','2021']

In [186]:
merge2

         시도  2019  2020  2021
0       강원도   NaN   NaN   NaN
1       경기도  0.81  1.42  1.24
2      경상남도  0.70  1.20  1.03
3      경상북도  0.39  0.72  0.66
4     광주광역시  0.19  0.29  0.24
5     대구광역시  0.24  0.35  0.24
6     대전광역시  0.29  0.41  0.32
7     부산광역시  1.64  2.51  2.10
8     서울특별시  0.05  0.06  0.05
9   세종특별자치시  0.03  0.04  0.05
10    울산광역시  0.13  0.24  0.17
11    인천광역시  0.25  0.41  0.33
12     전라남도  0.49  0.99  0.99
13     전라북도  0.43  0.87  0.79
14  제주특별자치도  0.31  0.50  0.38
15     충청남도  0.27  0.51  0.47
16     충청북도  0.80  1.39  1.19