In [2]:
# import datetime

# # date in yy/mm/dd format
# first_date = datetime.datetime(2019, 7, 1)
# second_date = datetime.datetime(2022, 7, 28)

# print(second_date - first_date)

In [65]:
# date = pd.date_range('2019-07-01', periods=224)

# print(date)

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-05', '2019-07-06', '2019-07-07', '2019-07-08',
               '2019-07-09', '2019-07-10',
               ...
               '2020-01-31', '2020-02-01', '2020-02-02', '2020-02-03',
               '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07',
               '2020-02-08', '2020-02-09'],
              dtype='datetime64[ns]', length=224, freq='D')

In [70]:
# date = pd.date_range('2020-02-10', periods=224)

# print(date)

DatetimeIndex(['2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17',
               '2020-02-18', '2020-02-19',
               ...
               '2020-09-11', '2020-09-12', '2020-09-13', '2020-09-14',
               '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18',
               '2020-09-19', '2020-09-20'],
              dtype='datetime64[ns]', length=224, freq='D')

In [71]:
# date = pd.date_range('2020-09-21', periods=224)

# print(date)

DatetimeIndex(['2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24',
               '2020-09-25', '2020-09-26', '2020-09-27', '2020-09-28',
               '2020-09-29', '2020-09-30',
               ...
               '2021-04-23', '2021-04-24', '2021-04-25', '2021-04-26',
               '2021-04-27', '2021-04-28', '2021-04-29', '2021-04-30',
               '2021-05-01', '2021-05-02'],
              dtype='datetime64[ns]', length=224, freq='D')

In [75]:
# date = pd.date_range('2021-05-03', periods=224)

# print(date)

DatetimeIndex(['2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06',
               '2021-05-07', '2021-05-08', '2021-05-09', '2021-05-10',
               '2021-05-11', '2021-05-12',
               ...
               '2021-12-03', '2021-12-04', '2021-12-05', '2021-12-06',
               '2021-12-07', '2021-12-08', '2021-12-09', '2021-12-10',
               '2021-12-11', '2021-12-12'],
              dtype='datetime64[ns]', length=224, freq='D')

In [77]:
# date = pd.date_range('2021-12-13', periods=228)

# print(date)

DatetimeIndex(['2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
               '2021-12-17', '2021-12-18', '2021-12-19', '2021-12-20',
               '2021-12-21', '2021-12-22',
               ...
               '2022-07-19', '2022-07-20', '2022-07-21', '2022-07-22',
               '2022-07-23', '2022-07-24', '2022-07-25', '2022-07-26',
               '2022-07-27', '2022-07-28'],
              dtype='datetime64[ns]', length=228, freq='D')

In [3]:
import time 
import requests
import pprint
import json
import numpy as np
import pandas as pd
import xmltodict
import pprint
import re
from time import sleep

# 2020-02-10
# 2020-09-21
# 2021-05-03
# 2021-12-13

date = pd.date_range('2019-07-01', periods= 224)

date_list = []
for i in date:
    time = str(i)
    date_list.append(time)

dt_list = []
for i in date_list:
    step1 = i.split(' ')[0]
    step2 = re.sub('-','',step1)
    step3 = int(step2)
    dt_list.append(step3)

In [4]:
print(dt_list[:5])

[20190701, 20190702, 20190703, 20190704, 20190705]

In [9]:
date_list = []
place_list = []
org_list = []
desertionNo_list  = []
kind_list = []
age_list = []
gender_list = []
notice_list = []
neutering_list = []
state_list = []
weight_list = []
image_list = []

key = 'Hw22Gk%2F70p6EtzrHo%2Ftw4NsV8rar2dS%2BRzFIXKADjDNyDLGOgXKvzYI8ZW2dSjTRppYaOY2s5n38SFqaU%2FYpYA%3D%3D'
ymd = dt_list[112:]

for i in ymd:
    url = 'http://apis.data.go.kr/1543061/abandonmentPublicSrvc/abandonmentPublic?bgnde={}&endde={}&pageNo=1&numOfRows=1000&serviceKey={}'.format(i,i, key)
    response = requests.get(url)
    contents = response.text
    contents = xmltodict.parse(contents)
    sleep(10)

    data = contents['response']['body']['items']['item']
    for i in range(len(data)):
        dates = data[i]['happenDt']
        places = data[i]['happenPlace']
        orgs = data[i]['orgNm']
        desertionNos = data[i]['desertionNo']
        kinds = data[i]['kindCd']
        ages = data[i]['age']
        genders = data[i]['sexCd']
        notices = data[i]['specialMark']
        neutering = data[i]['neuterYn']
        states = data[i]['processState']
        weights = data[i]['weight']
        images = data[i]['popfile']

        date_list.append(dates)
        place_list.append(places)
        org_list.append(orgs)
        desertionNo_list.append(desertionNos)
        kind_list.append(kinds)
        age_list.append(ages)
        gender_list.append(genders)
        neutering_list.append(neutering)
        notice_list.append(notices)
        state_list.append(states)
        weight_list.append(weights)
        image_list.append(images)

In [10]:
df = pd.DataFrame({'date':date_list,
                   'org':org_list,
                   'desertionNos':desertionNo_list,
                  'place':place_list,
                  'kind':kind_list,
                  'age':age_list,
                  'gender':gender_list,
                  'neutering':neutering_list,
                  'notice':notice_list,
                  'state':state_list,
                  'weight':weight_list,
                  'image':image_list})
df.head(5)

,date,org,desertionNos,place,kind,age,gender,neutering,notice,state,weight,image
0,20191021,전라남도 나주시,446483201900405,금계동 89-1,[고양이] 한국 고양이,2019(년생),F,U,2개월령 고양이,종료(자연사),1(Kg),http://www.animal.go.kr/files/shelter/2019/12/...
1,20191021,전라남도 완도군,446499201900119,완도읍 죽청리 610번지,[개] 믹스견,2017(년생),M,N,목걸이 미착용,종료(자연사),20(Kg),http://www.animal.go.kr/files/shelter/2019/11/...
2,20191021,인천광역시 강화군,428357201900967,초지진 부근,[개] 믹스견,2017(년생),M,N,코밑 윗 입술부위 벗겨짐,종료(안락사),13.24(Kg),http://www.animal.go.kr/files/shelter/2019/10/...
3,20191021,경상북도 상주시,447511201900583,모동면,[개] 말티즈,2015(년생),F,N,남자를 많이 경계함,종료(입양),4.42(Kg),http://www.animal.go.kr/files/shelter/2019/10/...
4,20191021,인천광역시 강화군,428357201900966,선두리978-6,[개] 믹스견,2016(년생),F,N,머리부분 검은색,종료(안락사),5.59(Kg),http://www.animal.go.kr/files/shelter/2019/10/...

In [11]:
df.to_csv('전국유기동물정보2.csv', index = False, encoding = 'euc-kr')

In [12]:
df.shape

(35709, 12)